@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Hello Word</h1>
    <p>Aprenda Sobre <a href="https://youtube.com">Videos no youtube</a>.</p>
</div>
