@{
    ViewData ["Title"] = "Informações ";
}
<h1> @ViewData["Title"]</h1>


<div class="text-center">
    <h1 class="display">Informações Extras</h1>
    <p>Aprenda Sobre <a href="https://youtube.com">Videos no youtube</a>.</p>
</div>

<p>Essas são algumas informações.</p>

<p1>Essas são as informções do primeiro paragrafo.</p1>


